# .env.example
# copy to .env and fill with real DB credentials
# DATABASE_URL=""
# #DATABASE_URL=postgresql://<user>:<password>@<your-render-db-host>:5432/<dbname>
# BASE_URL=""
# TWILIO_ACCOUNT_SID= ""
# TWILIO_AUTH_TOKEN= ""
# TWILIO_PHONE_NUMBER= ""
# MEDGEMMA_API_URL=""